/* General Etiquetas */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 96%;
    margin: 0 auto;
    background-color: #161616;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

label {
    color: #b4b4b4;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 4px;
}

input, textarea, button {
    outline: none;
    padding: 0.6rem;
    border: none;
    border-radius: 2px;
    transition: all ease 300ms;
} 

input, textarea {
    color: #f2f2f2;
    border: 1px solid #323232;
    background-color: #161616;
}

textarea {
    /* height: 160px; */
    resize: none;
}

input:hover, textarea:hover {
    border: 1px solid #646464;
}

input:focus, textarea:focus {
    border: 1px solid #e4e4e4;
}

.input-list > ul > li {
    position: relative;
}

.input-list > ul > li > input{
    display: none;
}

.input-list > ul > li > label{
    cursor: pointer;
    display: block;
    padding: 0.6rem;
    margin-top: 0.4rem;
    border-radius: 2px;
    background-color: #161616;
    transition: all ease 300ms;
}

.input-list > ul > li > label:hover {
    color: #e4e4e4;
    background-color: #323232;
}

.input-list > ul > li > input:checked+label {
    color: #000;
    background-color: #fff;
}

.input-list > ul > li > input:checked+label::after {
    color: #000;
    font: var(--fa-font-solid);
    content: "\f14a";
    font-size: 1rem;
    position: absolute;
    top: 0.6rem;
    right: 0.4rem;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    
    background: #040404; 
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #323232; 
    transition: all ease 400ms;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Separadores y/0 margenes de soporte*/

.gap-light {
    gap: 0.4rem;
}

.gap-regular {
    gap: 0.6rem;
}

.gap-strong {
    gap: 1rem;
}

.margin-light {
    margin: 0.4rem;
}

.margin-regular {
    margin: 0.6rem;
}

.margin-strong {
    margin: 1rem;
}

.top-margin-light {
    margin-top: 0.4rem;
}

.top-margin-regular {
    margin-top: 0.6rem;
}

.top-margin-strong {
    margin-top: 1rem;
}

.right-margin-light {
    margin-right: 0.4rem;
}

.right-margin-strong {
    margin-right: 1rem;
}

.bottom-margin-light {
    margin-bottom: 0.4rem;
}

.bottom-margin-strong {
    margin-bottom: 1rem;
}

.left-margin-light {
    margin-left: 0.4rem;
}

.left-margin-strong {
    margin-left: 1rem;
}

.padding-light {
    padding: 0.4rem;
}

.padding-regular {
    padding: 0.6rem;
}

.padding-strong {
    padding: 1rem;
}

.top-padding-light {
    padding-top: 0.4rem;
}

.top-padding-regular {
    padding-top: 0.6rem;
}

.top-padding-strong {
    padding-top: 1rem;
}

.right-padding-light {
    padding-right: 0.4rem;
}

.right-padding-strong {
    padding-right: 1rem;
}

.bottom-padding-light {
    padding-bottom: 0.4rem;
}

.bottom-padding-strong {
    padding-bottom: 1rem;
}

.left-padding-light {
    padding-left: 0.4rem;
}

.left-padding-strong {
    padding-left: 1rem;
}

.top-separator-light {
    border-top: 1px solid #484848;
}

.top-separator-strong {
    border-top: 2px solid #484848;
}

.right-separator-light {
    border-right: 1px solid #484848;
}

.right-separator-strong {
    border-right: 3px solid #484848;
}

.bottom-separator-light {
    border-bottom: 1px solid #484848;
}

.bottom-separator-strong {
    border-bottom: 3px solid #484848;
}

.left-separator-light {
    border-left: 1px solid #484848;
}

.left-separator-strong {
    border-left: 3px solid #484848;
}


/* Estilos y configuración generales de la clase FLEX-GRID y sus ELEMENTOS */

.flex-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-elements {
    flex-wrap: wrap;
}

.row-distribution {
    flex-direction: row;
}

.col-distribution {
    flex-direction: column;
}    

.mid-row {
    flex: 0 1 50%;
}

.full-row {
    flex: 0 1 100%;
}

/* Estilos y configuración generales de la clase GRID-LAYOUT y sus CELDAS */

.grid-layout {
    display: grid;
    grid-auto-flow: dense;
}

.static-rows {
    grid-auto-rows: 80px;
}

.dinamyc-rows {
    grid-auto-rows: repeat(auto-fit,minmax(80px,1fr));
}

.static-cols {
    grid-auto-columns: 80px;
}

.dinamyc-cols {
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}

.row-size-1 {
    grid-row: span 1;
}

.row-size-2 {
    grid-row: span 2;
}

.row-size-3 {
    grid-row: span 3;
}

.row-size-4 {
    grid-row: span 4;
}

.row-size-5 {
    grid-row: span 5;
}

.row-size-6 {
    grid-row: span 6;
}

.row-size-7 {
    grid-row: span 7;
}

.row-size-8 {
    grid-row: span 8;
}

.col-size-1 {
    grid-column: span 1;
}

.col-size-2 {
    grid-column: span 2;
}

.col-size-3 {
    grid-column: span 3;
}

.col-size-4 {
    grid-column: span 4;
}

.col-size-5 {
    grid-column: span 5;
}

.col-size-6 {
    grid-column: span 6;
}

.col-size-7 {
    grid-column: span 7;
}

.col-size-8 {
    grid-column: span 8;
}

/* Estilos y configuración generales de los Contenedores */

.cell {
    overflow: hidden;
    border-radius: 6px;
    background-color: #202020;
    border-bottom: 1px solid #323232;
}

/* Estilos y Configuración de la clase SUPPORTING-TEXT y sus ELEMENTOS*/

.supporting-text {
    padding: 0.4rem;
}

.supporting-text > .caption{
    margin-top: 0.3em;
}

.supporting-text > .body-a, .supporting-text > .body-b, .supporting-text > .body-c{
    margin-top: 0.6rem;
}

/* Imagenes Comportamiento y Distribución */

.thumbnail {
    width: auto;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

.full-media-width {
    width: 100%;
}

.full-media-height {
    height: 100%;
}

.full-media-cover {
    width: 100%;
    height: 100%;
}

/* Botones de Paginación */ 
.page-selector {
    cursor: pointer;
    color: #b4b4b4;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    background-color: #101010;
    transition: all ease 300ms;
    border-bottom: 1px solid #323232;
}

.page-selector:hover {
    color: #e4e4e4;
    background-color: #323232;
    border-bottom: 1px solid #646464;
}

.page-selector.active {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #323232;
}

/* General Transiciones */

.transition-ease-light {
    transition: all ease 300ms;
}

.transition-ease-normal {
    transition: all ease 500ms;
}

.transition-ease-slow {
    transition: all ease 700ms;
}

/* Profundidad del Contenedor */

.depth-00 {
    background-color: #000;
}

.depth-01 {
    background-color: #141414;
}

.depth-02 {
    background-color: #202020;
}

.depth-03 {
    background-color: #323232;
}

/* Efectos Estáticos y/o Animados*/

.fx-shadow-static, .fx-shadow-dinamyc {
    box-shadow: 0px 2px 4px #000;
}

.fx-shadow-dinamyc:hover {
    box-shadow: 0px 6px 12px #080808;
}

.fx-depth-up:hover {
    background-color: #323232;
}

.fx-move-up:hover {
    transform: translateY(-2px);
}

.fx-shrink-x-on-active, .fx-grow-x-on-active, .fx-shrink-x-on-hover, .fx-grow-x-on-hover{ 
    width: 100%;
}

.fx-shrink-x-on-active:active, .fx-shrink-x-on-hover:hover {
    width: calc(100% - 4rem);
}

.fx-grow-x-on-active:active, .fx-grow-x-on-hover:hover {
    width: calc(100% + 4rem);
}

/* Headline */

.headline-a {
    color: #f4f4f4;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.headline-b {
    color: #f4f4f4;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.headline-c {
    color: #f4f4f4;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.8px;
}

/* Subtitle */

.subtitle-a {
    color: #d4d4d4;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.subtitle-b {
    color: #d4d4d4;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.8px;
}

/* Body */

.body-a {
    color: #d4d4d4;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.body-b {
    color: #d4d4d4;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.30px;
}

/* Caption */

.caption {
    color: #b4b4b4;
    font-size: 0.6rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}

/* Overline */

.overline {
    color: #b4b4b4;
    font-size: 0.6rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Links */ 

.link {
    color: #6e6e6e;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.4px;
}


.link:hover {
    color: #f4f4f4;
    font-size: 1rem;
}

/* Button */

button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 auto;
}

.btn-a {
    color: #b4b4b4;
    background-color: #040404;
}

.btn-a:hover {
    color: #e4e4e4;
    background-color: #080808;
}

.btn-a:active {
    color: #000;
    background-color: #fff;
}


/* Estilos Generales de Toda la Web */

#primary-nav {
    position: sticky;
    top: 0px;
    z-index: 999;
    padding: 0.8rem 1rem;
}

#primary-nav > ul > li.item ~ li.item {
    text-align: center;
}

#primary-nav > ul > li.item {
    flex: 1;
}

#primary-nav > ul > li.item.logo {
    flex: 4;
    color: #f4f4f4;
    font-size: 1.4rem;
    letter-spacing: 1rem;
}

#products > .content {
    margin-top: 1rem;
    align-items: stretch;
}

#products > .content > .filter {
    width: 20%;
}

#products > .content > .products-list {
    width: 80%;
}
#products > .content > .products-list > .items {
    width: 100%;
    padding: 1rem;
    max-height: calc(6rem*10);
    overflow-y: auto;
    background-color: #101010;
}

#about-us > .content > .contact {
    padding: 1rem 2rem;
}

#about-us > .content > .contact > i {
    color: #121212;
    font-size: 3rem;
    text-align: right;
    text-shadow: 1px 1px #4b4b4b;
}

#about-us > .content > .branches > .location {
    justify-content: space-around;
}

footer {
    text-align: center;
    padding: 8rem 16rem;
    background-color: #000;
}