
 
    
            <div class="card-track">
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
                <article class="card fx-deep-shadow-dinamyc fx-move-up">
                    <div class="media">
                        <img class="card-thumbnail" src="./static/img/products/motorcycle.png" alt="Referencia visual del producto" draggable="false">
                    </div>
                    <div class="supporting-text">
                        <div class="overline">MODELO</div>
                        <h3 class="title-c">Título</h3>
                    </div>
                </article>
            </div>

        

    